@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.about__skills i {
  display: inline-block;
  font-size: 5rem;
  color: var(--light-blue); }

.portfolio i {
  color: var(--dark-blue);
  font-size: 2.5rem; }

footer i {
  color: #fff;
  font-size: 2rem;
  margin: 1.5rem; }

html {
  background: var(--white);
  --dark-blue: #141c4d;
  --orange: #fcc224;
  --orangeBTN: #fcc224;
  --light-blue: #31c3e7;
  --light-gray: #6b8fa8;
  --black: #000;
  --white: #fff;
  --lightBg: #eee;
  --whiteGrey: #fff;
  --whiteGrey2: #fff;
  --heading-light: rgba(0, 0, 0, 0.03); }

html[data-theme='dark'] {
  background: var(--white);
  --dark-blue: #ddd;
  --heading-light: rgba(255, 255, 255, 0.09);
  --orange: #433f5c;
  --orangeBTN: #fff;
  --light-blue: #6b8fa8;
  --light-gray: #999;
  --black: #fff;
  --white: #000;
  --lightBg: #000;
  --whiteGrey: #212121;
  --whiteGrey2: #424242; }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
  max-width: 100%; }

.primaryHeading__hero {
  margin-top: 3rem;
  color: var(--black);
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem; }
  @media (min-width: 900px) {
    .primaryHeading__hero {
      font-size: 6rem;
      padding-top: 5rem;
      margin-bottom: 1rem; } }

.secondaryHeading__hero {
  color: var(--black);
  margin-bottom: 3rem;
  font-size: 2rem; }
  @media (min-width: 900px) {
    .secondaryHeading__hero {
      font-size: 3rem;
      margin-bottom: 5rem; } }

.aboutHeading__primary,
.contactHeading__primary,
.portfolioHeading__primary {
  position: relative;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--dark-blue);
  z-index: 1; }
  .aboutHeading__primary::before,
  .contactHeading__primary::before,
  .portfolioHeading__primary::before {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    top: -170%;
    font-size: 10rem;
    left: 0%;
    width: 100%;
    z-index: -1;
    padding: 0rem; }
  @media (min-width: 600px) {
    .aboutHeading__primary,
    .contactHeading__primary,
    .portfolioHeading__primary {
      font-size: 5rem; }
      .aboutHeading__primary::before,
      .contactHeading__primary::before,
      .portfolioHeading__primary::before {
        top: -90%;
        font-size: 13rem; } }
  @media (min-width: 900px) {
    .aboutHeading__primary,
    .contactHeading__primary,
    .portfolioHeading__primary {
      font-size: 7rem; }
      .aboutHeading__primary::before,
      .contactHeading__primary::before,
      .portfolioHeading__primary::before {
        top: -90%;
        font-size: 20rem; } }

.portfolioHeading__primary::before {
  content: 'WORK';
  color: var(--heading-light); }

.aboutHeading__primary::before {
  content: 'ABOUT';
  color: var(--heading-light); }

.contactHeading__primary::before {
  content: 'CONTACT';
  color: var(--heading-light); }

.label {
  color: #6b8fa8; }

.highlight--orange {
  color: var(--orange);
  font-weight: 700; }

.highlight--blue {
  color: var(--light-blue);
  font-weight: 700; }

.paragraph {
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin: 0.7rem;
  padding-top: 1rem; }
  .paragraph--bold {
    font-weight: 700;
    text-transform: uppercase; }
  .paragraph--small, .paragraph--description, .paragraph--Leftdescription {
    margin-top: 0.2rem;
    color: var(--dark-blue);
    font-size: 1.2rem;
    padding-top: 0; }
  .paragraph--description {
    margin-top: 2.5rem; }
  .paragraph--Leftdescription {
    text-align: left;
    margin-top: 1rem; }
  @media (min-width: 900px) {
    .paragraph--Leftdescription {
      font-size: 1.5rem; } }

.tag,
.tag--small {
  background-color: var(--orange);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.3rem;
  width: 36%;
  padding: 0 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem; }
  .tag--small,
  .tag--small--small {
    font-size: 1rem; }

@media (min-width: 900px) {
  .tag--small {
    width: 55%;
    font-size: 1.2rem; } }

.links {
  text-decoration: none;
  color: var(--light-blue);
  font-size: 1.7rem;
  transition: all .3s ease; }
  .links:hover {
    text-decoration: underline; }

.btn {
  border: 1px solid var(--orange);
  color: var(--white);
  background-color: var(--whiteGrey2);
  padding: 1.5rem 2.5rem;
  transition: all 0.3s ease-in; }
  .btn:focus {
    outline: none; }
  .btn--blue {
    background-color: var(--light-blue);
    color: var(--white);
    margin: 2rem auto 0 auto;
    cursor: pointer;
    border: none; }
    .btn--blue:hover, .btn--blue:active {
      transform: translate(0px, 3px); }
  .btn--hero {
    text-decoration: none;
    font-weight: 300;
    color: var(--orangeBTN); }
    .btn--hero:hover, .btn--hero:active {
      background-color: var(--orange);
      color: #fff; }

.link--portfolio {
  color: var(--light-blue);
  font-weight: 300;
  padding: 1rem 1.5rem;
  border: 1px solid var(--light-blue);
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  .link--portfolio:hover {
    background-color: var(--light-blue);
    color: #fff; }
  .link--portfolio:active {
    outline: none; }

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem; }
  @media (min-width: 900px) {
    .logoContainer {
      margin-top: 0; } }

.Logo {
  background-image: url("../../img/logo.png");
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center; }
  .Logo__name {
    margin-top: -1rem;
    font-size: 0.8rem;
    color: #6b8fa8;
    font-weight: 700; }
    @media (min-width: 900px) {
      .Logo__name {
        font-size: 1rem; } }

.portfolio {
  text-align: center; }
  @media (min-width: 600px) {
    .portfolio {
      flex-direction: column;
      margin-top: 2rem; } }
  .portfolio__container {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    grid-gap: 1rem;
    background-color: var(--whiteGrey); }
    @media (max-width: 600px) {
      .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem; } }
    @media (min-width: 600px) {
      .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 1rem; } }
    @media (min-width: 1200px) {
      .portfolio__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 390px)); } }
  .portfolio__description {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    position: relative; }
  .portfolio__folder {
    position: relative;
    margin-right: 10rem;
    display: inline-block;
    z-index: 3;
    padding: 0.8rem;
    cursor: pointer; }
    .portfolio__folder i {
      transition: all 0.3s; }
    .portfolio__folder:hover i::after {
      opacity: 1;
      transition: all 0.3s; }
    .portfolio__folder i::after {
      opacity: 0;
      font: inherit;
      content: 'Link to github Folder';
      background-color: var(--orange);
      border-radius: 1rem;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1rem;
      position: absolute;
      width: 10rem;
      padding: 0.2rem;
      top: -20%;
      left: -150%; }
    @media (min-width: 600px) {
      .portfolio__folder {
        left: 78%; } }
  .portfolio__image--1, .portfolio__image--2, .portfolio__image--3, .portfolio__image--4, .portfolio__image--5 {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 100%;
    background-size: cover;
    background-position: top left; }
  .portfolio__image--1 {
    background-image: url("../../img/toDo.PNG"); }
  .portfolio__image--2 {
    background-image: url("../../img//Nookslibrary.PNG"); }
  .portfolio__image--3 {
    background-image: url("../../img/expenseTrack.PNG"); }
  .portfolio__image--4 {
    background-image: url("../../img/ShoppingCart.PNG"); }
  .portfolio__image--5 {
    background-image: url("../../img/Portfolio.PNG"); }
  .portfolio__item {
    border-radius: 1.5rem;
    display: flex;
    align-items: stretch;
    height: 20rem;
    justify-content: center;
    background-color: var(--whiteGrey2);
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s; }
    .portfolio__item:hover {
      transform: translateY(-2px);
      box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75); }
    @media (max-width: 600px) {
      .portfolio__item {
        margin-top: 2rem; } }
    @media (min-width: 600px) {
      .portfolio__item {
        margin: 0.5rem; } }
    @media (min-width: 900px) {
      .portfolio__item {
        margin: 1rem 2rem; } }

.tag__group {
  width: 100%;
  display: flex;
  align-items: center; }
  .tag__group p {
    margin-right: 1rem; }

ul li input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; }

ul li input[type='checkbox']:focus {
  outline: 0; }

.toggle {
  height: 22px;
  width: 42px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin-right: 0.3rem;
  border: 2px solid var(--orange);
  background: var(--orange);
  transition: all 0.2s ease; }

.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35); }

.toggle:checked {
  background-color: black; }

.toggle:checked:after {
  transform: translatex(20px); }

footer {
  background-color: var(--orange);
  color: #6b8fa8;
  padding: 2rem 0 2rem 0;
  width: 100%; }

.footerContainer {
  color: #fff;
  text-align: center; }

.footerLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footerLinks a {
    color: inherit;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    font-size: 1rem;
    transition: color 0.3s ease; }
    .footerLinks a:visited {
      color: inherit; }

.headerContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5; }
  @media (min-width: 900px) {
    .headerContainer {
      justify-content: flex-start;
      align-items: flex-end;
      height: auto;
      flex-direction: row; } }

.navigationContainer {
  display: flex;
  margin-left: auto;
  width: 30%;
  text-align: center;
  position: relative; }
  @media (min-width: 900px) {
    .navigationContainer {
      margin-left: 0; } }

.menuToggle {
  display: block;
  margin-left: auto;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  right: 1rem;
  top: 1.5rem;
  z-index: 7; }
  @media (min-width: 900px) {
    .menuToggle {
      margin-left: 0; } }
  .menuToggle__checkbox {
    display: block;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    top: -7px;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 7; }
    .menuToggle__checkbox:checked ~ span:first-of-type {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323; }
    .menuToggle__checkbox:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transition: rotate(0deg) scale(0.2, 0.2); }
    .menuToggle__checkbox:checked ~ span:last-of-type {
      transform: rotate(-45deg) translate(0, -1px); }
    .menuToggle__checkbox:checked ~ nav .navMenu {
      opacity: 1;
      transform: translateX(0); }
  .menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    background-color: #042535;
    z-index: 5;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    .menuToggle span:first-child {
      transform-origin: 0% 0%; }
    .menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
  .menuToggle__link {
    text-decoration: none;
    color: #232323;
    transition: all 0.3s ease-in; }
    .menuToggle__link:hover {
      color: var(--orange); }
    @media (min-width: 600px) {
      .menuToggle__link {
        margin: 0 1rem; } }
  @media (min-width: 600px) {
    .menuToggle__checkbox,
    .menuToggle span {
      display: none; } }

.navMenu {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 6.4%;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  align-items: flex-end;
  background-color: white;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translateX(200%);
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  .navMenu li {
    text-align: right;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin: 0.5rem 0;
    z-index: 500;
    position: relative;
    font-size: 1.3rem; }
    @media (min-width: 900px) {
      .navMenu li {
        font-size: 1.65rem; } }
  @media (min-width: 600px) {
    .navMenu {
      flex-direction: row;
      padding: 0;
      margin: 0;
      position: static;
      align-items: center;
      justify-content: flex-end;
      opacity: 1;
      transform: translate(0, 0);
      background-color: transparent; }
      .navMenu li {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        jusityf-content: center; } }

.hero {
  text-align: center;
  margin: 70% auto 0 auto;
  padding: 0 2rem;
  height: 40vh;
  width: 100%;
  position: relative; }
  @media (max-width: 600px) {
    .hero {
      margin-top: 40%; } }
  @media (min-width: 600px) {
    .hero {
      margin-top: 50%; } }
  @media (min-width: 900px) {
    .hero {
      margin-top: 40vh;
      height: 50vh; } }
  @media (min-width: 1200px) {
    .hero {
      height: 60vh;
      margin-top: 30vh; } }
  @media (min-width: 2000px) {
    .hero {
      height: 51.5vh;
      margin-top: 15%; } }

.linkContainer {
  margin-top: 4rem; }

.about {
  margin-top: 13.5rem;
  padding: 2rem 0rem 5rem 0rem;
  width: 100%;
  height: auto;
  background-color: var(--lightBg);
  position: relative; }
  @media (min-width: 900px) {
    .about {
      padding-top: 5rem; } }
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    align-items: center;
    padding: 2rem 0rem;
    margin-top: 2rem;
    text-align: center;
    background-color: var(--whiteGrey); }
    @media (min-width: 900px) {
      .about__container {
        flex-direction: row;
        width: 95%;
        margin: 5rem auto; } }
  .about__image {
    width: 70%; }
  .about__intro {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      .about__intro {
        width: 100%;
        padding: 1rem; } }
    @media (min-width: 900px) {
      .about__intro {
        width: 40%;
        text-align: left;
        padding: 2rem; } }
  .about__skills {
    display: grid;
    margin-top: 2rem;
    grid-gap: 4rem;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    @media (min-width: 900px) {
      .about__skills {
        grid-template-columns: repeat(3, 1fr); } }
    .about__skills div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.portfolio {
  margin-top: 2rem; }

.contactMe {
  background-color: var(--lightBg);
  padding: 2rem 0rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative; }
  @media (min-width: 900px) {
    .contactMe {
      padding-top: 5rem; } }
  .contactMe::after {
    content: '';
    position: absolute;
    bottom: -3.2%;
    left: 50%;
    margin-left: -2rem;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2rem solid var(--lightBg); }

.contactForm {
  display: flex;
  background-color: var(--whiteGrey);
  width: 95%;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem 5rem 2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative; }
  @media (min-width: 600px) {
    .contactForm {
      width: 70%; } }
  @media (min-width: 900px) {
    .contactForm {
      width: 50%; } }
  @media (min-width: 1200px) {
    .contactForm {
      width: 40%; } }
  @media (min-width: 2000px) {
    .contactForm {
      width: 30%; } }
  .contactForm input,
  .contactForm textarea {
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 1rem 0rem;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    transition: border 0.3s ease-in; }
    .contactForm input:focus,
    .contactForm textarea:focus {
      outline: none;
      border: 1px solid var(--dark-blue); }
  .contactForm textarea {
    font-family: inherit; }

.typewriter {
  width: 100%;
  text-align: center; }

.typewriter__style {
  font-size: 2rem;
  color: var(--black); }

.typewriter__text {
  font-weight: bold;
  color: var(--light-blue); }

.typewriter p span.cursor {
  display: inline-block;
  background-color: var(--black);
  margin-left: 0.1rem;
  width: 2px;
  animation: typing 1s infinite; }

.typewriter p span.cursor.typing {
  animation: none; }

@keyframes typing {
  0% {
    background-color: var(--black); }
  49% {
    background-color: var(--black); }
  50% {
    background-color: transparent; }
  99% {
    background-color: transparent; }
  100% {
    background-color: var(--black); } }
