@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
// https://dev.to/kaioalmeidacost/easy-dark-mode-with-sass-30n8
html {
        background: var(--white);

        --dark-blue: #141c4d;
        --orange: #fcc224;
        --orangeBTN: #fcc224;
        --light-blue: #31c3e7;
        --light-gray: #6b8fa8;
        --black: #000;
        --white: #fff;
        --lightBg: #eee;
        --whiteGrey: #fff;
        --whiteGrey2: #fff;
        --heading-light: rgba(0, 0, 0, 0.03);
}

html[data-theme='dark'] {
        background: var(--white);
        --dark-blue: #ddd;
        --heading-light: rgba(255, 255, 255, 0.09);
        --orange: #433f5c;

        --orangeBTN: #fff;

        --light-blue: #6b8fa8;

        --light-gray: #999;
        --black: #fff;
        --white: #000;
        --lightBg: #000;
        --whiteGrey: #212121;
        --whiteGrey2: #424242;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
        transition-delay: 0 !important;
}
