$dark-blue: #141c4d;
$orange: #fcc224;
$light-blue: #31c3e7;
$light-gray: #6b8fa8;
$white: #fff;
$black: #000;
$fa-font-path: '../../webfonts';

$breakpoints: (
        'small': (
                max-width: 600px,
        ),
        'medium': (
                min-width: 600px,
        ),
        'large': (
                min-width: 900px,
        ),
        'huge': (
                min-width: 1200px,
        ),
        'ultra': (
                min-width: 2000px,
        ),
);

