.btn {
        border: 1px solid $orange;
        color: $white;
        background-color: $white;
        padding: 1.5rem 2.5rem;
        // font-weight: 700;
        transition: all 0.3s ease-in;

        &:focus {
                outline: none;
        }

        &--blue {
                // border: 1px solid $light-blue;
                background-color: $light-blue;
                margin: 2rem auto 0 auto;
                cursor: pointer;
                border: none;
                &:hover,
                &:active {
                        transform: translate(0px, 3px);
                }
        }

        &--hero {
                text-decoration: none;
                font-weight: 300;
                color: $orange;
                margin-top: 100rem;

                &:hover,
                &:active {
                        background-color: $orange;
                        color: $white;
                }
        }
}

.link {
        &--portfolio {
                color: $light-blue;
                font-weight: 300;
                padding: 1rem 1.5rem;
                border: 1px solid $light-blue;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                        background-color: $light-blue;
                        color: $white;
                }

                &:active {
                        outline: none;
                }
        }
}
