.btn {
        border: 1px solid var(--orange);
        color: var(--white);
        background-color: var(--whiteGrey2);
        padding: 1.5rem 2.5rem;

        transition: all 0.3s ease-in;

        &:focus {
                outline: none;
        }

        &--blue {
                // border: 1px solid $light-blue;
                background-color: var(--light-blue);
                color:var(--white);
                margin: 2rem auto 0 auto;
                cursor: pointer;
                border: none;
                &:hover,
                &:active {
                        transform: translate(0px, 3px);
                }
        }

        &--hero {
                text-decoration: none;
                font-weight: 300;
                color: var(--orangeBTN);

                &:hover,
                &:active {
                        background-color: var(--orange);
                        color: $white;
                }
        }
}

.link {
        &--portfolio {
                color: var(--light-blue);
                font-weight: 300;
                padding: 1rem 1.5rem;
                border: 1px solid var(--light-blue);
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                        background-color: var(--light-blue);
                        color: $white;
                }

                &:active {
                        outline: none;
                }
        }
}
