.btn {
        border: 1px solid $orange;
        color: rgba($white, 0.9);
        background-color: $orange;
        padding: 1.5rem 2.5rem;
        font-weight: 700;
        margin-top: 3rem;
        // border-radius: 1.5rem;

        transition: all 0.3s ease-in;

        &:hover,
        &:active {
                background-color: $white;

                color: $orange;
        }

        &:focus {
                outline: none;
        }

        &--blue {
                border: 1px solid $light-blue;
                background-color: $light-blue;

                &:hover,
                &:active {
                        color: $light-blue;
                }
        }

        &--hero {
                text-decoration: none;
                font-weight: 300;
        }
}

.link {
        &--portfolio {
                color: $light-blue;
                font-weight: 300;
                padding: 1rem 1.5rem;
                border: 1px solid $light-blue;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                        background-color: $light-blue;
                        color: $white;
                }

                &:active {
                        outline: none;
                }
        }
}
