.portfolio {
        text-align: center;

        @include respond-to('medium') {
                flex-direction: column;
        }
        &__container {
                border: 1px solid red;

                display: grid;
                margin: 2rem;

                width: 95%;
                grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        }

        &__description {
                margin-top: 2rem;
        }

        &__image {
                &--1 {
                        background-image: url('../../img/toDo.PNG');

                        width: 100%;
                        background-size: cover;
                        background-position: top left;
                }
        }

        &__item {
                // background-color: #eee;
                // border-radius: 1.5rem;
                display: flex;
                align-items: stretch;
                justify-content: center;

                margin-top: 2rem;
                border: 1px solid rgba($black, 0.1);
                transition: all 0.3s;

                &:hover {
                        cursor: pointer;
                        transform: translateY(-2px);
                        box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.75);
                }
        }
}
