@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;
        box-sizing: border-box;
        width: 100%;
        // overflow: hidden;
}

body {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        overflow-x: hidden;
}
