@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995

*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;
        box-sizing: border-box;
        // width: 100%;
        overflow-x: hidden;
}

body {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        overflow-x: hidden;
        max-width: 100%;
}


