.primaryHeading__hero {
        margin-top: 3rem;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 3rem;
        @include respond-to('large') {
                font-size: 6rem;
                padding-top: 5rem;
                margin-bottom: 1rem;
        }
}

.secondaryHeading__hero {
        margin-bottom: 3rem;
        font-size: 2rem;
        @include respond-to('large') {
                font-size: 3rem;
        }
}

.aboutHeading__primary,
.contactHeading__primary {
        position: relative;
        font-size: 5rem;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        color: $dark-blue;
        z-index: 1;
        &--orange {
                color: $orange;
        }

        &::before {
                position: absolute;
                font-size: 20rem;
                color: rgba(255, 255, 255, 0.5);
                top: -120%;
                left: 0%;
                width: 100%;
                z-index: -1;
                padding: 0rem;
        }
}

.aboutHeading__primary::before {
        content: 'ABOUT ME';
}

.contactHeading__primary::before {
        content: 'CONTACT ME';
}

.label {
        color: $light-gray;
}
.highlight {
        &--orange {
                color: $orange;
                font-weight: 700;
        }

        &--blue {
                color: $light-blue;
                font-weight: 700;
        }
}

.paragraph {
        font-size: 1.5rem;
        color: $dark-blue;
        margin: 0.7rem;
        padding-top: 1rem;

        &--bold {
                font-weight: 700;
                text-transform: uppercase;
        }

        &--small,
        &--description {
                margin-top: 0.2rem;
                color: $light-gray;
                font-size: 1.2rem;
                padding-top: 0;
        }

        &--description {
                margin-top: 2.5rem;
        }
}

.tag {
        background-color: $orange;
        color: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        text-align: center;
        font-size: 1.3rem;
        width: 32%;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
}
