.primaryHeading__hero {
        margin-top: 3rem;
        color: var(--black);
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 3rem;
        @include respond-to('large') {
                font-size: 6rem;
                padding-top: 5rem;
                margin-bottom: 1rem;
        }
}

.secondaryHeading__hero {
        color: var(--black);
        margin-bottom: 3rem;
        font-size: 2rem;

        @include respond-to('large') {
                font-size: 3rem;
                margin-bottom: 5rem;
        }
}

.aboutHeading__primary,
.contactHeading__primary,
.portfolioHeading__primary {
        position: relative;

        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        color: var(--dark-blue);
        z-index: 1;

        &::before {
                position: absolute;
                color: rgba(255, 255, 255, 0.5);
                top: -170%;
                font-size: 10rem;
                left: 0%;
                width: 100%;
                z-index: -1;
                padding: 0rem;
        }
        @include respond-to('medium') {
                font-size: 5rem;

                &::before {
                        top: -90%;
                        font-size: 13rem;
                }
        }

        @include respond-to('large') {
                font-size: 7rem;

                &::before {
                        top: -90%;
                        font-size: 20rem;
                }
        }
}

.portfolioHeading__primary::before {
        content: 'WORK';
        color: var(--heading-light);
}

.aboutHeading__primary::before {
        content: 'ABOUT';
        color: var(--heading-light);
}

.contactHeading__primary::before {
        content: 'CONTACT';
        color: var(--heading-light);
}

.label {
        color: $light-gray;
}
.highlight {
        &--orange {
                color: var(--orange);
                font-weight: 700;
        }

        &--blue {
                color: var(--light-blue);
                font-weight: 700;
        }
}

.paragraph {
        font-size: 1.5rem;
        color: var(--dark-blue);
        margin: 0.7rem;
        padding-top: 1rem;

        &--bold {
                font-weight: 700;
                text-transform: uppercase;
        }

        &--small,
        &--description,
        &--Leftdescription {
                margin-top: 0.2rem;
                color: var(--dark-blue);
                font-size: 1.2rem;
                padding-top: 0;
        }

        &--description {
                margin-top: 2.5rem;
        }

        &--Leftdescription {
                text-align: left;
                margin-top: 1rem;
        }

        @include respond-to('large') {
                &--Leftdescription {
                        font-size: 1.5rem;
                }
        }
}

.tag,
.tag--small {
        background-color: var(--orange);
        color: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        text-align: center;
        font-size: 1.3rem;
        width: 36%;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        &--small {
                // background-color: $light-gray;
                font-size: 1rem;
        }
}

@include respond-to('large') {
        .tag--small {
                width: 55%;
                padding: 0 0.3rem;
                font-size: 1.5rem;
        }
}
.links {
        text-decoration: none;
        color: var(--light-blue);
        font-size: 1.7rem;
}
