.hero {
        text-align: center;
        margin: 70% auto 0 auto;
        padding: 0 2rem;
        height: 40vh;
        width: 100%;
        position: relative;
        // border: 1px solid $dark-blue;

        @include respond-to('medium') {
                margin-top: 30rem;
        }
        // }
        @include respond-to('large') {
                margin-top: 31.5%;
                height: 50vh;
        }

        @include respond-to('huge') {
                height: 60vh;
                margin-top: 25.5%;
        }

        @include respond-to('ultra') {
                height: 51.5vh;
                margin-top: 15%;
        }
}

.about {
        margin-top: 13.5rem;
        padding: 2rem 0rem 5rem 0rem;
        width: 100%;
        height: auto;
        background-color: #eee;
        position: relative;

        @include respond-to('large') {
                padding-top: 5rem;
        }

        &__container {
                // border-radius: 2rem;
                display: flex;
                // border: 1px solid red;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 2;
                align-items: center;
                padding: 2rem 0rem;
                margin-top: 2rem;
                text-align: center;
                background-color: $white;

                @include respond-to('large') {
                        flex-direction: row;
                        width: 95%;
                        margin: 5rem auto;
                }
        }

        &__image {
                width: 70%;
        }
        &__intro {
                text-align: center;
                @include respond-to('medium') {
                        width: 100%;
                        padding: 1rem;
                }
                @include respond-to('large') {
                        width: 40%;
                        text-align: left;
                        padding: 2rem;
                }
        }

        &__skills {
                display: grid;
                margin-top: 2rem;
                grid-gap: 4rem;
                margin: 2rem auto;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                @include respond-to('large') {
                        grid-template-columns: repeat(3, 1fr);
                }

                & div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                }
        }
}

.portfolio {
        margin-top: 2rem;
}

.contactMe {
        background-color: #eee;
        padding: 2rem 0rem;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: relative;

        @include respond-to('large') {
                padding-top: 5rem;
        }

        &::after {
                content: '';
                position: absolute;
                bottom: -4%;
                left: 50%;
                margin-left: -2rem;
                border-left: 2rem solid transparent;
                border-right: 2rem solid transparent;
                border-top: 2rem solid #eee;
        }
}
.contactForm {
        display: flex;
        background-color: white;
        width: 95%;
        margin: 2rem auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5rem 2rem 5rem 2rem;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        z-index: 2;
        position: relative;

        @include respond-to('medium') {
                width: 70%;
        }

        @include respond-to('large') {
                width: 50%;
        }

        @include respond-to('huge') {
                width: 40%;
        }

        @include respond-to('ultra') {
                width: 30%;
        }

        & input,
        & textarea {
                width: 100%;
                padding: 1rem 0.5rem;
                margin: 1rem 0rem;
                border: 1px solid rgba($black, 0.2);
                box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
                transition: border 0.3s ease-in;

                &:focus {
                        outline: none;
                        border: 1px solid $dark-blue;
                }
        }

        & textarea {
                font-family: inherit;
        }

        // & button {
        //         margin: 1rem auto 0.5rem auto;
        // }
}
